.footer
  position fixed
  bottom 0
  left 0
  right 0
  margin-top 12px
  padding 0 8px
  background-color #e1e1e1
  border-top 1px solid #bbb
  box-shadow 0 4px 10px #111
  
  .footer-container
    display flex
    align-items center
    justify-content space-between
    height 32px

    .links
      font-size .9em
      color #777

    .copyright
      font-size .9em
      color #777


// TABLET
@media (min-width: 700px)
  .footer
    right 45px  


// DESKTOP
// @media screen and (min-width: 1025px)
