ul, ol
  overflow-x hidden
  overflow-y auto

  li
    height 100%

    a,
    button
      display flex
      align-items center
      justify-content center
      height 100%
      width 100%

      span
        display flex
        align-items baseline


// ----- ORIENTATION ----- //
ul, ol
  &.vertical
    display flex
    flex-direction column
    align-items center
    justify-content space-around

  &.horizontal
    display flex
    align-items center
    justify-content space-around


// ----- SIZE ----- //
ul, ol
  // Height
  &.shortest
    height 20px

  &.short
    height 30px

  &.tall
    height 40px

  &.tallest
    height 50px

  &.full-height
    height 100%

  &.shortest, &.short, &.tall, &.tallest, &.full-height
    li
      width 100%

  // &.thinnest
  &.thin
    max-width 100px

  &.wide
    max-width 300px

  // &.widest

  &.full-width
    width 100%


// ----- SPACING ----- //
ul, ol
  &.vertical
    &.tight
      li
        height 2em

    &.regular
      li
        height 2.5em

    &.loose
      li
        height 3em

    &.max-spacing
      justify-content space-between

  // &.horizontal
  //   li
  //     padding 0 8px


// ----- DIVIDERS ----- //
ul, ol
  &.dividers
    &.horizontal
      li
        border-right 1px solid border-default

        &:last-child
          border-right none


// ----- STATES ----- //
ul, ol
  li
    &:hover
      transition .175s

      p, i
        transition .175s

    &.active
      background-color #f5f5f5

    &.disabled
      i, p
        color gray

    &.invisible
      display none

    &:hover
      &.light-toggle
        &.subscriptions, &.search, &.profile, &.stats, &.top-scores, &.achievements, &.connections, &.my-scores, &.help, &.settings, &.sign-out, &.sign-in
          background-color bg-light

          span
            i, p
              color txt-lightest

      &.dark-toggle
        &.subscriptions, &.search, &.profile, &.stats, &.top-scores, &.achievements, &.connections, &.my-scores, &.help, &.settings, &.sign-out, &.sign-in
          background-color bg-dark

      // Uses the default app color as the background
      &.app-toggle
        &.subscriptions,
        &.search,
        &.profile
          background-color dark-blue //rgba(80, 92, 226, 1)

        &.stats
          background-color dark-red //rgba(234, 31, 38, 1)

        &.top-scores,
        &.achievements
          background-color dark-yellow //rgba(245, 204, 0, 1)

        &.connections,
        &.my-scores
          background-color dark-green //rgba(55, 184, 0, 1)

        &.help,
        &.settings,
        &.sign-out,
        &.sign-in
          background-color dark-bg  //rgba(51, 51, 51, 1)


  // // Content
  // li
  //   padding 0 8px

  //   span
  //     display flex
  //     align-items center
  //     height 100%
  //     width 100%

  //     i
  //       margin-right 4px


  // // Themes
  // &.transparent
  //   background-background-color transparent

  // &.white
  //   background-background-color white

  // &.gray
  //   background-background-color lightest-gray
  //   background-color darker-gray