@import '../views/colors.styl'

// Default
.body
  position relative
  padding 12px

  .main
    display flex
    justify-content center

    .content
      width 100%
      min-width 320px
      max-width 600px
      margin 0 12px

    .left-rail
      width 120px
      background-color lightblue

    .right-rail
      width 250px
      background-color pink


// Mobile (no sidebar, w/subnav)
@media (max-width 736px)
  .body
    top 62px
    width calc(100vw - 24px) // padding


// Tablet Portrait (w/sidebar, w/subnav)
@media (min-width 737px) and (max-width 1024px)
  .body
    top 62px
    width calc(100vw - 24px - 45px) // padding + sidebar


// Desktop (w/sidebar, no subnav)
@media (min-width 1025px)
  .body
    top 30px
    width calc(100vw - 24px - 45px) // padding + sidebar

// MOBILE
// @media screen and (max-width: 699px)
//   .body
//     height 100%
//     width 100vw

//     .body-container
//       margin-top 64px
//       margin-bottom 32px
//       padding 12px 8px


// // TABLET
// @media screen and (min-width: 700px) and (max-width: 1024px)
//   .body
//     width calc(100vw - 45px)

//     .body-container
//       display flex
//       align-items baseline
//       justify-content center

//       .content
//         max-width 460px
//         width 100%
//         min-width 360px
//         margin 8px
//         background lightblue

//       .right-rail
//         max-width 250px
//         width 50%
//         min-width 200px
//         background pink


// // DESKTOP
// @media (min-width: 1025px)
//   .body
//     .body-container
//       margin-top 32px

//       .left-rail
//         max-width 250px
//         width 50%
//         min-width 200px
//         background green

//       .center
//         max-width 500px
//         min-width 400px