@import '../views/colors.styl'

// Default
.footer
  display flex
  align-items center
  justify-content space-between
  position fixed
  bottom 0
  height 32px
  padding 0 8px
  background-color bg-light
  border-top 1px solid border-light
  font-size .9em
  color txt-lightest


// Mobile (no sidebar)
@media (max-width: 736px)
  .footer
    width calc(100vw - 16px)


// > Tablet (with 45px sidebar)
@media (min-width: 737px)
  .footer
    width calc(100vw - 16px - 45px)