@import '../views/colors.styl'

// Default
.navbar
  z-index 90
  display flex
  justify-content space-between
  position fixed
  top 0
  height 32px
  width 100vw
  background-color bg-darkest

  .logo
    z-index 99
    position fixed
    height 38px
    width 38px
    top 3px
    left 2px
    border-radius 100%
    user-select none