red = #ea1f26
light-red = #ed454b
dark-red = #d2141a


yellow = #ffd500
light-yellow = #ffe14d
dark-yellow = #F5CC00


green = #37B800
light-green = #67C10D
dark-green = #31A300


blue = #505CE2
light-blue = #616CE5
dark-blue = #3E4BCF