@require './variables/grayscale.styl'

// ----- Background Colors ----- //
// Styles with the prefix "bgc-" are designated as background-color styles.
.bgc-0
  background-color c-00

.bgc-01
  background-color c-01

.bgc-02
  background-color c-02

.bgc-03
  background-color c-03

.bgc-04
  background-color c-04

.bgc-05
  background-color c-05

.bgc-06
  background-color c-06

.bgc-07
  background-color c-07

.bgc-08
  background-color c-08

.bgc-09
  background-color c-09


.bgc-1
  background-color c-10

.bgc-11
  background-color c-11

.bgc-12
  background-color c-12

.bgc-13
  background-color c-13

.bgc-14
  background-color c-14

.bgc-15
  background-color c-15

.bgc-16
  background-color c-16

.bgc-17
  background-color c-17

.bgc-18
  background-color c-18

.bgc-19
  background-color c-19


.bgc-2
  background-color c-20

.bgc-21
  background-color c-21

.bgc-22
  background-color c-22

.bgc-23
  background-color c-23

.bgc-24
  background-color c-24

.bgc-25
  background-color c-25

.bgc-26
  background-color c-26

.bgc-27
  background-color c-27

.bgc-28
  background-color c-28

.bgc-29
  background-color c-29


.bgc-3
  background-color c-30

.bgc-31
  background-color c-31

.bgc-32
  background-color c-32

.bgc-33
  background-color c-33

.bgc-34
  background-color c-34

.bgc-35
  background-color c-35

.bgc-36
  background-color c-36

.bgc-37
  background-color c-37

.bgc-38
  background-color c-38

.bgc-39
  background-color c-39


.bgc-4
  background-color c-40

.bgc-41
  background-color c-41

.bgc-42
  background-color c-42

.bgc-43
  background-color c-43

.bgc-44
  background-color c-44

.bgc-45
  background-color c-45

.bgc-46
  background-color c-46

.bgc-47
  background-color c-47

.bgc-48
  background-color c-48

.bgc-49
  background-color c-49


.bgc-5
  background-color c-50

.bgc-51
  background-color c-51

.bgc-52
  background-color c-52

.bgc-53
  background-color c-53

.bgc-54
  background-color c-54

.bgc-55
  background-color c-55

.bgc-56
  background-color c-56

.bgc-57
  background-color c-57

.bgc-58
  background-color c-58

.bgc-59
  background-color c-59


.bgc-6
  background-color c-60

.bgc-61
  background-color c-61

.bgc-62
  background-color c-62

.bgc-63
  background-color c-63

.bgc-64
  background-color c-64

.bgc-65
  background-color c-65

.bgc-66
  background-color c-66

.bgc-67
  background-color c-67

.bgc-68
  background-color c-68

.bgc-69
  background-color c-69


.bgc-7
  background-color c-70

.bgc-71
  background-color c-71

.bgc-72
  background-color c-72

.bgc-73
  background-color c-73

.bgc-74
  background-color c-74

.bgc-75
  background-color c-75

.bgc-76
  background-color c-76

.bgc-77
  background-color c-77

.bgc-78
  background-color c-78

.bgc-79
  background-color c-79


.bgc-8
  background-color c-80

.bgc-81
  background-color c-81

.bgc-82
  background-color c-82

.bgc-83
  background-color c-83

.bgc-84
  background-color c-84

.bgc-85
  background-color c-85

.bgc-86
  background-color c-86

.bgc-87
  background-color c-87

.bgc-88
  background-color c-88

.bgc-89
  background-color c-89


.bgc-9
  background-color c-90

.bgc-91
  background-color c-91

.bgc-92
  background-color c-92

.bgc-93
  background-color c-93

.bgc-94
  background-color c-94

.bgc-95
  background-color c-95

.bgc-96
  background-color c-96

.bgc-97
  background-color c-97

.bgc-98
  background-color c-98

.bgc-99
  background-color c-99


.bgc-a
  background-color c-aa

.bgc-a1
  background-color c-a1

.bgc-a2
  background-color c-a2

.bgc-a3
  background-color c-a3

.bgc-a4
  background-color c-a4

.bgc-a5
  background-color c-a5

.bgc-a6
  background-color c-a6

.bgc-a7
  background-color c-a7

.bgc-a8
  background-color c-a8

.bgc-a9
  background-color c-a9


.bgc-b
  background-color c-bb

.bgc-b1
  background-color c-b1

.bgc-b2
  background-color c-b2

.bgc-b3
  background-color c-b3

.bgc-b4
  background-color c-b4

.bgc-b5
  background-color c-b5

.bgc-b6
  background-color c-b6

.bgc-b7
  background-color c-b7

.bgc-b8
  background-color c-b8

.bgc-b9
  background-color c-b9


.bgc-c
  background-color c-cc

.bgc-c1
  background-color c-c1

.bgc-c2
  background-color c-c2

.bgc-c3
  background-color c-c3

.bgc-c4
  background-color c-c4

.bgc-c5
  background-color c-c5

.bgc-c6
  background-color c-c6

.bgc-c7
  background-color c-c7

.bgc-c8
  background-color c-c8

.bgc-c9
  background-color c-c9


.bgc-d
  background-color c-dd

.bgc-d1
  background-color c-d1

.bgc-d2
  background-color c-d2

.bgc-d3
  background-color c-d3

.bgc-d4
  background-color c-d4

.bgc-d5
  background-color c-d5

.bgc-d6
  background-color c-d6

.bgc-d7
  background-color c-d7

.bgc-d8
  background-color c-d8

.bgc-d9
  background-color c-d9


.bgc-e
  background-color c-ee

.bgc-e1
  background-color c-e1

.bgc-e2
  background-color c-e2

.bgc-e3
  background-color c-e3

.bgc-e4
  background-color c-e4

.bgc-e5
  background-color c-e5

.bgc-e6
  background-color c-e6

.bgc-e7
  background-color c-e7

.bgc-e8
  background-color c-e8

.bgc-e9
  background-color c-e9