@require './variables/grayscale.styl'

// ----- Border Colors ----- //
// Styles with the prefix "bdc-" are designated as border-color styles.
.bdc-0
  border-color c-00

.bdc-01
  border-color c-01

.bdc-02
  border-color c-02

.bdc-03
  border-color c-03

.bdc-04
  border-color c-04

.bdc-05
  border-color c-05

.bdc-06
  border-color c-06

.bdc-07
  border-color c-07

.bdc-08
  border-color c-08

.bdc-09
  border-color c-09


.bdc-1
  border-color c-10

.bdc-11
  border-color c-11

.bdc-12
  border-color c-12

.bdc-13
  border-color c-13

.bdc-14
  border-color c-14

.bdc-15
  border-color c-15

.bdc-16
  border-color c-16

.bdc-17
  border-color c-17

.bdc-18
  border-color c-18

.bdc-19
  border-color c-19


.bdc-2
  border-color c-20

.bdc-21
  border-color c-21

.bdc-22
  border-color c-22

.bdc-23
  border-color c-23

.bdc-24
  border-color c-24

.bdc-25
  border-color c-25

.bdc-26
  border-color c-26

.bdc-27
  border-color c-27

.bdc-28
  border-color c-28

.bdc-29
  border-color c-29


.bdc-3
  border-color c-30

.bdc-31
  border-color c-31

.bdc-32
  border-color c-32

.bdc-33
  border-color c-33

.bdc-34
  border-color c-34

.bdc-35
  border-color c-35

.bdc-36
  border-color c-36

.bdc-37
  border-color c-37

.bdc-38
  border-color c-38

.bdc-39
  border-color c-39


.bdc-4
  border-color c-40

.bdc-41
  border-color c-41

.bdc-42
  border-color c-42

.bdc-43
  border-color c-43

.bdc-44
  border-color c-44

.bdc-45
  border-color c-45

.bdc-46
  border-color c-46

.bdc-47
  border-color c-47

.bdc-48
  border-color c-48

.bdc-49
  border-color c-49


.bdc-5
  border-color c-50

.bdc-51
  border-color c-51

.bdc-52
  border-color c-52

.bdc-53
  border-color c-53

.bdc-54
  border-color c-54

.bdc-55
  border-color c-55

.bdc-56
  border-color c-56

.bdc-57
  border-color c-57

.bdc-58
  border-color c-58

.bdc-59
  border-color c-59


.bdc-6
  border-color c-60

.bdc-61
  border-color c-61

.bdc-62
  border-color c-62

.bdc-63
  border-color c-63

.bdc-64
  border-color c-64

.bdc-65
  border-color c-65

.bdc-66
  border-color c-66

.bdc-67
  border-color c-67

.bdc-68
  border-color c-68

.bdc-69
  border-color c-69


.bdc-7
  border-color c-70

.bdc-71
  border-color c-71

.bdc-72
  border-color c-72

.bdc-73
  border-color c-73

.bdc-74
  border-color c-74

.bdc-75
  border-color c-75

.bdc-76
  border-color c-76

.bdc-77
  border-color c-77

.bdc-78
  border-color c-78

.bdc-79
  border-color c-79


.bdc-8
  border-color c-80

.bdc-81
  border-color c-81

.bdc-82
  border-color c-82

.bdc-83
  border-color c-83

.bdc-84
  border-color c-84

.bdc-85
  border-color c-85

.bdc-86
  border-color c-86

.bdc-87
  border-color c-87

.bdc-88
  border-color c-88

.bdc-89
  border-color c-89


.bdc-9
  border-color c-90

.bdc-91
  border-color c-91

.bdc-92
  border-color c-92

.bdc-93
  border-color c-93

.bdc-94
  border-color c-94

.bdc-95
  border-color c-95

.bdc-96
  border-color c-96

.bdc-97
  border-color c-97

.bdc-98
  border-color c-98

.bdc-99
  border-color c-99


.bdc-a
  border-color c-aa

.bdc-a1
  border-color c-a1

.bdc-a2
  border-color c-a2

.bdc-a3
  border-color c-a3

.bdc-a4
  border-color c-a4

.bdc-a5
  border-color c-a5

.bdc-a6
  border-color c-a6

.bdc-a7
  border-color c-a7

.bdc-a8
  border-color c-a8

.bdc-a9
  border-color c-a9


.bdc-b
  border-color c-bb

.bdc-b1
  border-color c-b1

.bdc-b2
  border-color c-b2

.bdc-b3
  border-color c-b3

.bdc-b4
  border-color c-b4

.bdc-b5
  border-color c-b5

.bdc-b6
  border-color c-b6

.bdc-b7
  border-color c-b7

.bdc-b8
  border-color c-b8

.bdc-b9
  border-color c-b9


.bdc-c
  border-color c-cc

.bdc-c1
  border-color c-c1

.bdc-c2
  border-color c-c2

.bdc-c3
  border-color c-c3

.bdc-c4
  border-color c-c4

.bdc-c5
  border-color c-c5

.bdc-c6
  border-color c-c6

.bdc-c7
  border-color c-c7

.bdc-c8
  border-color c-c8

.bdc-c9
  border-color c-c9


.bdc-d
  border-color c-dd

.bdc-d1
  border-color c-d1

.bdc-d2
  border-color c-d2

.bdc-d3
  border-color c-d3

.bdc-d4
  border-color c-d4

.bdc-d5
  border-color c-d5

.bdc-d6
  border-color c-d6

.bdc-d7
  border-color c-d7

.bdc-d8
  border-color c-d8

.bdc-d9
  border-color c-d9


.bdc-e
  border-color c-ee

.bdc-e1
  border-color c-e1

.bdc-e2
  border-color c-e2

.bdc-e3
  border-color c-e3

.bdc-e4
  border-color c-e4

.bdc-e5
  border-color c-e5

.bdc-e6
  border-color c-e6

.bdc-e7
  border-color c-e7

.bdc-e8
  border-color c-e8

.bdc-e9
  border-color c-e9