@require './variables/grayscale.styl'
@require './variables/shadows.styl'


// ----- Style Sets ----- //
// Styles with the prefix "setc-" are designated as set color styles.

// White Set
.setc-wt
  border-color c-e6
  background-color c-ff
  color c-77

  &.hover:hover,
  &.active
    border-color c-e6
    background-color c-f8
    color c-77


// Light Sets
.setc-lt
  border-color c-c2
  background-color c-d4
  color c-55

  &.hover:hover,
  &.active
    border-color c-b0
    background-color c-c2
    color c-44

.setc-ltr
  border-color c-d4
  background-color c-e6
  color c-66

  &.hover:hover,
  &.active
    border-color c-c2
    background-color c-d4
    color c-55

.setc-ltst
  border-color c-e6
  background-color c-f8
  color c-77

  &.hover:hover,
  &.active
    border-color c-d4
    background-color c-e6
    color c-66


// Medium Sets
.setc-md
  border-color c-b0
  background-color c-c2
  color c-40

  &.hover:hover,
  &.active
    border-color c-98
    background-color c-b0
    color c-35

.setc-mdr
  border-color c-86
  background-color c-98
  color c-e2

  &.hover:hover,
  &.active
    border-color c-74
    background-color c-86
    color c-e2

.setc-mdst
  border-color c-62
  background-color c-74
  color c-e2

  &.hover:hover,
  &.active
    border-color c-50
    background-color c-62
    color c-e2


// Dark Sets
.setc-dk
  border-color c-24
  background-color c-36
  color c-e2

  &.hover:hover,
  &.active
    border-color c-36
    background-color c-48
    color c-e2

.setc-dkr
  border-color c-12
  background-color c-24
  color c-e2

  &.hover:hover,
  &.active
    border-color c-24
    background-color c-36
    color c-e2

.setc-dkst
  border-color c-00
  background-color c-00
  color c-e2

  &.hover:hover,
  &.active
    border-color c-12
    background-color c-24
    color c-e2