@require './variables/shadows.styl'


// ----- Combined Shadows ----- //
.z0
  box-shadow z0
  text-shadow z0

.z1
  box-shadow z1
  text-shadow z1

.z2
  box-shadow z2
  text-shadow z1

.z3
  box-shadow z3
  text-shadow z1

.z4
  box-shadow z4
  text-shadow z1

.z5
  box-shadow z5
  text-shadow z1

.z6
  box-shadow z6
  text-shadow z1

.z7
  box-shadow z7
  text-shadow z1


// ----- Box Shadows ----- //
.bx-z0
  box-shadow z0

.bx-z1
  box-shadow z1

.bx-z2
  box-shadow z2

.bx-z3
  box-shadow z3

.bx-z4
  box-shadow z4

.bx-z5
  box-shadow z5

.bx-z6
  box-shadow z6

.bx-z7
  box-shadow z7


// ----- Text Shadows ----- //
.t-z0
  text-shadow z0

.t-z1
  text-shadow tz1