@require './variables/grayscale.styl'

// ----- Text Colors ----- //
// Styles with the prefix "tc-" are designated as border-color styles.
.tc-0
  color c-00

.tc-01
  color c-01

.tc-02
  color c-02

.tc-03
  color c-03

.tc-04
  color c-04

.tc-05
  color c-05

.tc-06
  color c-06

.tc-07
  color c-07

.tc-08
  color c-08

.tc-09
  color c-09


.tc-1
  color c-10

.tc-11
  color c-11

.tc-12
  color c-12

.tc-13
  color c-13

.tc-14
  color c-14

.tc-15
  color c-15

.tc-16
  color c-16

.tc-17
  color c-17

.tc-18
  color c-18

.tc-19
  color c-19


.tc-2
  color c-20

.tc-21
  color c-21

.tc-22
  color c-22

.tc-23
  color c-23

.tc-24
  color c-24

.tc-25
  color c-25

.tc-26
  color c-26

.tc-27
  color c-27

.tc-28
  color c-28

.tc-29
  color c-29


.tc-3
  color c-30

.tc-31
  color c-31

.tc-32
  color c-32

.tc-33
  color c-33

.tc-34
  color c-34

.tc-35
  color c-35

.tc-36
  color c-36

.tc-37
  color c-37

.tc-38
  color c-38

.tc-39
  color c-39


.tc-4
  color c-40

.tc-41
  color c-41

.tc-42
  color c-42

.tc-43
  color c-43

.tc-44
  color c-44

.tc-45
  color c-45

.tc-46
  color c-46

.tc-47
  color c-47

.tc-48
  color c-48

.tc-49
  color c-49


.tc-5
  color c-50

.tc-51
  color c-51

.tc-52
  color c-52

.tc-53
  color c-53

.tc-54
  color c-54

.tc-55
  color c-55

.tc-56
  color c-56

.tc-57
  color c-57

.tc-58
  color c-58

.tc-59
  color c-59


.tc-6
  color c-60

.tc-61
  color c-61

.tc-62
  color c-62

.tc-63
  color c-63

.tc-64
  color c-64

.tc-65
  color c-65

.tc-66
  color c-66

.tc-67
  color c-67

.tc-68
  color c-68

.tc-69
  color c-69


.tc-7
  color c-70

.tc-71
  color c-71

.tc-72
  color c-72

.tc-73
  color c-73

.tc-74
  color c-74

.tc-75
  color c-75

.tc-76
  color c-76

.tc-77
  color c-77

.tc-78
  color c-78

.tc-79
  color c-79


.tc-8
  color c-80

.tc-81
  color c-81

.tc-82
  color c-82

.tc-83
  color c-83

.tc-84
  color c-84

.tc-85
  color c-85

.tc-86
  color c-86

.tc-87
  color c-87

.tc-88
  color c-88

.tc-89
  color c-89


.tc-9
  color c-90

.tc-91
  color c-91

.tc-92
  color c-92

.tc-93
  color c-93

.tc-94
  color c-94

.tc-95
  color c-95

.tc-96
  color c-96

.tc-97
  color c-97

.tc-98
  color c-98

.tc-99
  color c-99


.tc-a
  color c-aa

.tc-a1
  color c-a1

.tc-a2
  color c-a2

.tc-a3
  color c-a3

.tc-a4
  color c-a4

.tc-a5
  color c-a5

.tc-a6
  color c-a6

.tc-a7
  color c-a7

.tc-a8
  color c-a8

.tc-a9
  color c-a9


.tc-b
  color c-bb

.tc-b1
  color c-b1

.tc-b2
  color c-b2

.tc-b3
  color c-b3

.tc-b4
  color c-b4

.tc-b5
  color c-b5

.tc-b6
  color c-b6

.tc-b7
  color c-b7

.tc-b8
  color c-b8

.tc-b9
  color c-b9


.tc-c
  color c-cc

.tc-c1
  color c-c1

.tc-c2
  color c-c2

.tc-c3
  color c-c3

.tc-c4
  color c-c4

.tc-c5
  color c-c5

.tc-c6
  color c-c6

.tc-c7
  color c-c7

.tc-c8
  color c-c8

.tc-c9
  color c-c9


.tc-d
  color c-dd

.tc-d1
  color c-d1

.tc-d2
  color c-d2

.tc-d3
  color c-d3

.tc-d4
  color c-d4

.tc-d5
  color c-d5

.tc-d6
  color c-d6

.tc-d7
  color c-d7

.tc-d8
  color c-d8

.tc-d9
  color c-d9


.tc-e
  color c-ee

.tc-e1
  color c-e1

.tc-e2
  color c-e2

.tc-e3
  color c-e3

.tc-e4
  color c-e4

.tc-e5
  color c-e5

.tc-e6
  color c-e6

.tc-e7
  color c-e7

.tc-e8
  color c-e8

.tc-e9
  color c-e9