@import 'themes/components/colors.styl'

// DIVIDERS
hr
  margin 0px

  // Sizes
  &.horizontal
    &.thin
      border-bottom-width 1px

    &.medium
      border-bottom-width 2px
    
    &.thick
      border-bottom-width 3px

  &.vertical
    &.thin
      border-right-width 1px
      
    &.medium
      border-right-width 2px
      
    &.thick
      border-right-width 3px

  // Styles
  &.solid
    border-style solid

  &.dashed
    border-style dashed

  &.dotted
    border-style dotted

  // Colors
  &.gray
    color gray

    &.lightest
      color lightest-gray

    &.lighter
      color lighter-gray
    
    &.light
      color light-gray
      
    &.dark
      color dark-gray