@import 'themes/components/colors.styl'

i  
  &.subscriptions
    color blue
    
  &.search
    color blue
    
  &.top-scores
    color darkyellow
    
  &.my-scores
    color green
  
  &.stats
    color red
    
  &.achievements
    color yellow
    
  &.profile
    color blue
    
  &.connections
    color green
    
  &.help
    color dark-gray
    
  &.settings
    color dark-gray
    
  &.signout
    color dark-gray
  
  &.signin
    color dark-gray