@import 'themes/components/colors.styl'

.navbar
  z-index 90
  display flex
  justify-content space-between
  position fixed
  top 0
  left 0
  right 0
  height 32px
  background-color #1c1c1c
  box-shadow 0 2px 2px #333

  .logo
    z-index 99
    position fixed
    height 38px
    width 38px
    margin 2px
    border-radius 100%
    box-shadow 0 2px 3px 1px #333

  .account
    align-self center