// MOBILE
// This section is not rendered for mobile devices


// TABLET
@media screen and (min-width: 700px)
  .main
    position absolute
    top 34px
    bottom 0
    left 0
    right 45px
    padding 12px 8px
    
    .main-container
      display flex
      justify-content space-around


// DESKTOP
// @media screen and (min-width: 1025px)
