@import './colors.styl'

// ----- ALIGNMENT ----- //
i
  &.left
    margin-right 4px

  &.right
    margin-left 4px


// ----- SIZE ----- //
i
  &.smallest
    font-size .7em

  &.smaller
    font-size .8em

  &.small
    font-size .9em

  &.large
    font-size 1.2em

  &.larger
    font-size 1.5em

  &.largest
    font-size 2em


// ----- SHADOWS ----- //
i
  &.z1
    text-shadow 0 1px 2px #333


// ----- COLORS ----- //
i
  &:hover
    transition .1s

  // Black & White (grayscale)
  &.bw
    &.fa-rss, &.search, &.fa-user, &.fa-trophy, &.fa-star, &.fa-line-chart, &.fa-users, &.fa-table, &.fa-question, &.fa-gear, &.fa-sign-out, &.fa-sign-in
      color ico-default

  // White
  &.white
    &.fa-rss, &.search, &.fa-user, &.fa-trophy, &.fa-star, &.fa-line-chart, &.fa-users, &.fa-table, &.fa-question, &.fa-gear, &.fa-sign-out, &.fa-sign-in
      color white

  // Subscriptions
  &.fa-rss
    color blue

  // Search
  &.search
    color blue

  // Top Scores
  &.fa-trophy
    color darkyellow

  // My Scores
  &.fa-line-chart
    color green

  // Stats
  &.fa-table
    color red

  // Achievements
  &.fa-star
    color yellow

  // Profile
  &.fa-user
    color blue

  // Connections
  &.fa-users
    color green

  // Help
  &.fa-question
    color dark-gray

  // Settings
  &.fa-gear
    color dark-gray

  // Sign Out
  &. fa-sign-out
    color dark-gray

  // Sign In
  &.fa-sign-in
    color dark-gray