i
  // Subscriptions
  &.fa-rss
    color blue

  // Search
  &.search
    color blue

  // Top Scores
  &.fa-trophy
    color darkyellow

  // My Scores
  &.fa-line-chart
    color green

  // Stats
  &.fa-table
    color red

  // Achievements
  &.fa-star
    color yellow

  // Profile
  &.fa-user
    color blue

  // Connections
  &.fa-users
    color green

  // Help
  &.fa-question
    color dark-gray

  // Settings
  &.fa-gear
    color dark-gray

  // Sign Out
  &. fa-sign-out
    color dark-gray

  // Sign In
  &.fa-sign-in
    color dark-gray