@import './colors.styl'

//   &.large
//     font-size 20px

//   &.small
//     font-size 12px

//   &.thick
//     font-weight 500

//   &.thin
//     font-weight 300

p
  &.txt-lightest
    color txt-lightest

  &.txt-light
    color txt-light