.sidebar
  .container
    padding 0 8px

    .menu
      display none


@media screen and (min-width: 700px)
  .sidebar
    .container
      .menu
        display flex
        flex-direction column

      .container
        display flex
        flex-direction column