.navbar
  background-color #1c1c1c
  
  .container
    display flex
    justify-content space-between
    height 32px
    width 100%
    margin-bottom 12px

    .logo
      height 38px
      width 38px
      margin 2px

    .account
      align-self center

      